body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  text-align: center;
  padding: 20px;
}
.section {
  margin: 20px;
}
.about-me {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-me h2 {
  color: #ff69b4;
}
.about-me p {
  font-size: 16px;
  justify-content: center;
}
.skills {
  margin-top: 30px;
  align-items: center;
}
.skills table {
  width: 100%;
  border-collapse: collapse;
  align-items: center;
}
.skills th,
.skills td {
  padding: 10px;
  text-align: center;
}
.skills th {
  background-color: #ff69b4;
  color: white;
}
.skills td {
  background-color: #f9f9f9;
}
.languages {
  margin-top: 30px;
}
.languages ul {
  list-style-type: none;
  padding-left: 20px;
}
.languages li {
  margin-bottom: 5px;
}
.hobbies {
  margin-top: 30px;
}
.hobbies ul {
  list-style-type: none;
  padding-left: 20px;
}
.hobbies li {
  margin-bottom: 5px;
}
.education {
  margin-top: 30px;
}
.education table {
  width: 100%;
  border-collapse: collapse;
}
.education th,
.education td {
  padding: 10px;
  text-align: left;
}
.education th {
  background-color: #ff69b4;
  color: white;
}
.education td {
  background-color: #f9f9f9;
}
.learning-interest {
  margin-top: 30px;
}
.learning-interest ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.learning-interest li {
  margin-bottom: 5px;
}
footer {
  margin-top: 50px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.clear {
  clear: both;
}